

.btn{
  font-family: initial;
  margin-left: 24px;
}

.btn1{
  font-family: initial;
  margin-left: 2px;
  background-color: #ADD8E6;
  border: 0px;
}

.input{
  display: block;
  width: 60%;
  height: calc(1.25em + 0.50rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.espacamento{
  margin-top: 14px;
  /* margin-bottom: 2px; */
}

.espacamento1{
  margin-top: 6px;
}

.bordaEsq{
  margin-left: 20px;
}


.frase{
  font-family: fantasy;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ADD8E6;
  color: black;
  text-align: left;
  height: 20px;
}

.bg-dark {
  background-color: #ADD8E6!important;
}

.margin{
margin: 3px;
}

.componente{
  height: 200px;
  width: 300px;
  border: 1px solid;
  border-color: teal;
  border-radius: 5px;
}
